@model News



<div class="container-fluid">
    <div style="position: relative; height: 500px; background: url('@Url.Content("/" + System.Web.HttpUtility.UrlEncode(@Model.Thumbnail))') center/cover no-repeat; background-color: black;">
        <div style="position: absolute; top: 70%; left: 5%; transform: translateY(-50%); color: white;">
            <h3>DC PREVIEW – DC Reveals Final Cover Art and First Interiors for Aquaman #1</h3>
            <p>BY: @Model.Author <br>@Model.PublishDate.ToString("dd/MM/yyyy")</p>
        </div>
    </div>

</div>
<div class="container w-75" style="text-align: justify;">
    <div class="content-article">
        <p>
            @Html.Raw(@Model.Content)
        </p>
    </div>
   
</div>

       @* background-image: url('/images/background/intro-video-bg.de424f1.jpg'); *@