@model ComicVM_C


<div class="container-fluid m-0 p-0">
	<div class="carousel slide"
		 id="carouselDemo"
		 data-bs-wrap="true"
		 data-bs-ride="carousel">
		<div class="carousel-inner" style="max-height:400px">

			<div class="carousel-item active" style="max-height: 400px;">
				<img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Robin</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>

			<div class="carousel-item " style="max-height: 400px;">
				<img src="~/images/Cassandra.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>
			<div class="carousel-item " style="max-height: 400px;">
				<img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>


		</div>

		<button class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselDemo"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>

		<button class="carousel-control-next"
				type="button"
				data-bs-target="#carouselDemo"
				data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>
</div>

@* LATEST DC COMICS & GRAPHIC NOVELS *@
<div class="container mt-5">
	<div class="justify-content-between align-items-center mb-4">
		<h1 class="heading">LATEST DC COMICS & GRAPHIC NOVELS</h1>		
	</div>
	<div class="text-center">
		<!-- Nội dung bên dưới không bị chia đều -->
		<div class="submenu">
			<div class="container swiper ">
				<div class="card-wrapper card-wrapper-5">
					<ul class="card-list swiper-wrapper">
						@foreach (var obj in Model.ComicNewList)
						{
							<li class="card-item swiper-slide">
								<div class="card border-0 shadow rounded h-100">
									<img src="~/@obj.Thumbnail" class="card-img-top rounded">
									<div class="card-body d-flex flex-column">
										<p class="card-title fw-bold text-dark opacity-75 text-uppercase text-center mb-2">
											@obj.Price<span>$</span>
										</p>
									<div style="height:10vh">
											<p class=" card-title fw-bold text-center flex-grow-1">
												@obj.Name
											</p>
									</div>
									
										<div class="btn-container mt-auto">
											<a href="#" class="btn btn-primary bg-gradient border-0 w-100">
												Add to cart
											</a>
										</div>
									</div>
								</div>
							</li>
						}
					</ul>

					<div class="swiper-pagination"></div>
					<div class="swiper-slide-button swiper-button-prev"></div>
					<div class="swiper-slide-button swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
</div>
@*READ FOR FREE ON DC UNIVERSE INFINITE *@
<div class="container mt-5">
	<div class="justify-content-between align-items-center mb-4">
		<h1 class="heading">READ FOR FREE ON DC UNIVERSE INFINITE</h1>
	</div>
	<div class="text-center">
		<!-- Nội dung bên dưới không bị chia đều -->
		<div class="submenu">
			<div class="container swiper ">
				<div class="card-wrapper card-wrapper-5">
					<ul class="card-list swiper-wrapper">
						@foreach (var obj in Model.ComicFreeList)
						{
							<li class="card-item swiper-slide">
								<div class="card border-0 shadow rounded h-100">
									<img src="~/@obj.Thumbnail" class="card-img-top rounded">
									<div class="card-body d-flex flex-column">
										<p class="card-title fw-bold text-dark opacity-75 text-uppercase text-center mb-2">
												@obj.Price<span>$</span>
										</p>
										<div style="height:10vh">
											<p class=" card-title fw-bold text-center flex-grow-1">
												@obj.Name
											</p>
										</div>

										<div class="btn-container mt-auto">
											<a href="#" class="btn btn-primary bg-gradient border-0 w-100">
												Add to cart
											</a>
										</div>
									</div>
								</div>
							</li>
						}
					</ul>

					<div class="swiper-pagination"></div>
					<div class="swiper-slide-button swiper-button-prev"></div>
					<div class="swiper-slide-button swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@* MAIN MENU *@
<div class="contact-form" style="background-color: rgba(0, 116, 232, 1);">
	<div class="container my-5 pt-5">
		<div class="row align-items-center">
			<!-- Video Section -->
			<div class="col-md-7">
				<div class="ratio ratio-16x9">
					<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
				</div>
			</div>

			<!-- Video Details Section -->
			<div class="col-md-5 mt-3 textVideo d-flex align-items-center text-white">
				<div>
					<!-- Bọc nội dung văn bản trong một div để căn giữa theo chiều dọc -->
					<h3 class="text-uppercase ">FEATURED VIDEO</h3>
					<h2>CREATURE COMMANDOS – OFFICIAL TRAILER</h2>
					<p>You wanted monsters? You got motherf*ckin' monsters.</p>
					<p>From James Gunn, comes the new DC Studios and Max Original Series <em>Creature Commandos</em>. Streaming December 5th, exclusively on Max.</p>
				</div>
			</div>
		</div>
	</div>
</div>

@* info-character *@
<div class="container " style="width:90%">
	<div class="row">
		<!-- Sidebar Filters -->
		<div class="col-md-4 col-lg-3 filter-section p-4">
			@Html.Partial("_SidebarPartial")
		</div>
		<!-- Character Cards Section -->
		<div class="col-md-8 col-lg-9 p-4">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<h2 class="heading"> BROWSE CHARACTERS</h2>
			</div>						
			<div class="row gx-5">
				@foreach (var obj in Model.ComicList)
				{
					<div class="col-6 col-md-4 col-lg-3 mb-3">
						<div class="card border-0 shadow rounded">
							<img src="~/@obj.Thumbnail" class="card-img-top rounded" alt="@obj.Name">
							<div class="card-body">
								<p class="card-title fw-bold text-dark opacity-75 text-uppercase text-center">
									@obj.Price <span class="fs-6">$</span>
								</p>
								<p class="card-title fw-bold text-center">@obj.Name</p>
								<div class="btn-container">
									<a asp-action="Details" asp-route-comicId="@obj.Id" class="btn btn-primary bg-gradient border-0 w-100">
										Details
									</a>
								</div>
							</div>
						</div>
					</div>
				}						
			</div>



			
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/js/slider.js"></script>










